<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./estilo.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Información de la canción</h1>
    <div id="detalle">
        <p>Id de la cancion: {{cancion.idCancion}}</p>
        <p>Nombre de la cancion: {{cancion.nombreCancion}}</p>
        <p>Fecha de lanzamiento: {{cancion.fechaEstreno}}</p>
        <p>Discografica: {{cancion.discografica}}</p>
        <p>Duracion: {{cancion.duracion}} </p>
    </div>
    
    <a href="{{url_for('inicio')}}" id="agregar" >Inicio</a>
</body>
</html>