{% extends "serie/base.html" %} {% load crispy_forms_tags %} <wbr /> 


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.titulo|as_crispy_field}}
    {{form.codigo|as_crispy_field}}
    <div class="row">
        <div class="col-md-8">
            {{form.capitulos|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.calificacion|as_crispy_field}}
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"></i>Enviar     <i class="fa fa-arrow-right"></i></button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'serie_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Volver a la lista
            </a>
        </div>
    </div>
    
</form>
{% endblock content %}